*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/*------------ common classes ------------*/

/* ------------ document elements ------------*/

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
}

img, fieldset {
	border: none;
}

/*------------ header ------------*/

.header_container {
	border-bottom: 1px solid #f0f0f0;
}

.header_content {
	background-color: #FFFFFF;
	padding: 7px 0;
	color: #293133;
}

.header_content a {
	color: #293133;
}

.profile_button
{
	background-color: transparent;
	border: medium none;
	font-size: 26px;
}

.profile_link
{
	font-size: 26px;
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.profile_link a {
	text-decoration: none;
}
.profile_link a:hover {
	text-decoration: underline;
}

.logo {
    height: 70px;
    width: 70px;
    background: url(../img/logo.svg) no-repeat;
    background-size: 100%;
    text-indent: -1000em;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 4px;
    z-index: 10;
}