/*------------ debug classes ------------*/

.debug{
    background-color: red;
}

.debug2{
    background-color: blue;
}

/*------------ common classes ------------*/
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.hidden {
	display: none;
}

.align_left {
    float: left;
}

.align_right {
    float: right;
}

.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

.text_left{
    text-align: left;
}

.valign_center {
	vertical-align: middle;
}

.link a {
	color: #293133;
}

.link a:hover {
	text-decoration: underline;
}

.top_offset{
    margin-top: 14px;
}