<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8"/>
	<title>project_view</title>	
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/fonts.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/common.css"/>
	<link rel="stylesheet" href="css/project_view.css"/>
	<link rel="stylesheet" href="css/message.css"/>
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
</head>

<body>
<div class="container">
	<div class="logo logoRM"><img src="img/LOGO.svg"></div><br><br><br><br>

	<div class="row">
		<div class="col-md-2"></div>			
		<div class="col-md-8 project_container">	
			<div class="row photo_height">							
				<div class="col-md-12">&nbsp;
				</div>				
			</div>
			<div class="row">
				<div class="col-md-8 title_nurse">
					Название проекта
				</div>
                <div class="col-md-4 project_price">
                    100500
                </div>
			</div>
            <div class="row project_category">
                <div class="col-md-6">
                    Категория1>Категория2>Категория3
                </div>
                <div class="col-md-6 project_terms">
                    Термін: від Ро.ма.на. до Йо.рд.ана.
                </div>
            </div><br>
			<div class="row">
				<div class="col-md-12 announcement_text">
					Полнейшее описание проекта ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ... ...
				</div>
			</div>
			<div class="row photo_height">							
				<div class="col-md-12" style="background: url(img/колонки2.jpg) no-repeat center center; background-size: contain; background-color: lightgrey;">&nbsp;
				</div>				
			</div>
			<div class="row photo_height">							
				<div class="col-md-12" style="background: url(img/колонки3.jpg) no-repeat center center; background-size: contain; background-color: lightgrey;">&nbsp;
				</div>				
			</div>		
		<div class="col-md-2"></div>		
		</div>
	</div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn publish">
                <Редагувати
            </button>
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success button_right">
                Опублікувати>
            </button>
        </div>
    </div>

</div>
</body>
</html>
<br><br><br><br><br>